<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Database</title>
</head>
<body>
    <input type="button" value="Create" id="create-btn" /><br><br>
    <input type="button" value="Retrieve" id="retrieve-btn" /><br><br>
    <input type="button" value="Update" id="update-btn" /><br><br>
    <input type="button" value="Delete" id="delete-btn" />
    
    <script src="../script.js"></script>  
</body>
</html>