<%- include('header'); -%>
<div class="menu bg-light fixed-top">
	<div class="container-fluid">
		<div class="row py-2 align-items-end">
			<div class="col-6">
				<a href="/" class="btn btn-secondary">Back</a>
			</div>
			<div class="col-6">
				<div class="d-flex justify-content-end">
					<a href="/create4" class="btn btn-primary">Create</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content" style="margin-top: 80px">
	<div class="container-fluid">
		<div class="row my-4">
			<div class="col-12">
				<table class="table table-bordered" id="table4">
					<thead>
						<tr>
                            <th scope="col">Action</th>
							<th scope="col">#</th>
							<th scope="col">BRANCH</th>
							<th scope="col">First_Name</th>
							<th scope="col">Surname</th>
							<th scope="col">Year</th>
							<th scope="col">Combo22</th>
							
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<%- include('footer'); -%>
