<%- include('header'); -%>
<div class="menu bg-light fixed-top">
	<div class="container-fluid">
		<div class="row py-2 align-items-end">
			<div class="col-4">
				<a href="/" class="btn btn-secondary">Back</a>
			</div>
			<div class="col-4">
				<div class="d-flex justify-content-start">
					<div class="custom-control custom-checkbox mx-2">
						<input type="checkbox" class="custom-control-input js--filter js--filter1" data-type="Redundant" id="customCheck1">
						<label class="custom-control-label" for="customCheck1">Redundant</label>
					</div>
					<div class="custom-control custom-checkbox mx-2">
						<input type="checkbox" class="custom-control-input js--filter js--filter3" data-type="Deceased" id="customCheck3">
						<label class="custom-control-label" for="customCheck3">Deceased</label>
					</div>
					<div class="custom-control custom-checkbox mx-2">
						<input type="checkbox" class="custom-control-input js--filter js--filter2" data-type="ON_BC_LIST" id="customCheck2">
						<label class="custom-control-label" for="customCheck2">ON_BC_LIST</label>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="d-flex justify-content-end">
					<a href="/expires1" class="btn btn-warning mr-2">Expires after 30 days</a>
					<a href="/create1" class="btn btn-primary">Create</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content" style="margin-top: 80px">
	<div class="container-fluid">
		<div class="row my-4">
			<div class="col-12">
				<table class="table table-bordered" id="table1">
					<thead>
						<tr>
							<th scope="col">Action</th>
							<th scope="col">#</th>
							<th scope="col">Form_ID</th>
							<th scope="col">Branch</th>
							<th scope="col">Surname</th>
							<th scope="col">First Names</th>
							<th scope="col">Address Line 1</th>
							<th scope="col">Address Line 2</th>
							<th scope="col">Phone Home</th>
							<th scope="col">Phone Work</th>
							<th scope="col">Phone Mobile</th>
							<th scope="col">Email</th>
							<th scope="col">DOB</th>
							<th scope="col">Drivers Licence</th>
							<th scope="col">Class</th>
							<th scope="col">Expiry Date</th>
							<th scope="col">Current Position</th>
							<th scope="col">Organisation</th>
							<th scope="col">Main Responsibilities</th>
							<th scope="col">Referee 1</th>
							<th scope="col">Ref1 Relationship</th>
							<th scope="col">Ref1 Phone</th>
							<th scope="col">Referee 2</th>
							<th scope="col">Ref2 Relationship</th>
							<th scope="col">Ref2 Phone</th>
							<th scope="col">Pre-existing Medical Cond</th>
							<th scope="col">Medical Cond Details</th>
							<th scope="col">Blue Card</th>
							<th scope="col">Issue Date</th>
							<th scope="col">Issued by BL</th>
							<th scope="col">Verified</th>
							<th scope="col">BC Expiry Date</th>
							<th scope="col">Emergency Contact 1</th>
							<th scope="col">EC1 Relationship</th>
							<th scope="col">EC1 Phone</th>
							<th scope="col">EC1 Work</th>
							<th scope="col">EC1 Mobile</th>
							<th scope="col">Emergency Contact 2</th>
							<th scope="col">EC2 Relationship</th>
							<th scope="col">EC2 Phone</th>
							<th scope="col">EC2 Work</th>
							<th scope="col">EC2 Mobile</th>
							<th scope="col">POI Documents sighted</th>
							<th scope="col">Latest Award</th>
							<th scope="col">Year Received</th>
							<th scope="col">File Notes</th>
							<th scope="col">Redundant</th>
							<th scope="col">Deceased</th>
							<th scope="col">ON BC LIST</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<%- include('footer'); -%>
