<%- include('header'); -%>
<div class="menu bg-light fixed-top">
	<div class="container-fluid">
		<div class="row py-2 align-items-end">
			<div class="col-6">
				<a href="/" class="btn btn-secondary">Back</a>
			</div>
			<div class="col-6">
				<div class="d-flex justify-content-end">
					<a href="/create3" class="btn btn-primary">Create</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content" style="margin-top: 80px">
	<div class="container-fluid">
		<div class="row my-4">
			<div class="col-12">
				<table class="table table-bordered" id="table3">
					<thead>
						<tr>
                            <th scope="col">Action</th>
							<th scope="col">#</th>
							<th scope="col">BRANCH</th>
							<th scope="col">MEMBERSHIP</th>
							<th scope="col">REGION</th>
							<th scope="col">MAIL CONTACT</th>
							<th scope="col">ADDRESS LINE 1 STATION/BRANCH</th>
							<th scope="col">ADDRESS LINE 2 PO BOX/STREET</th>
							<th scope="col">ADDRESS LINE 3 SUBURB/TOWN</th>
							<th scope="col">COORDINATOR</th>
							<th scope="col">PHONE</th>
							<th scope="col">FAX</th>
							<th scope="col">EMAIL</th>
							<th scope="col">HOME</th>
							<th scope="col">MOBILE</th>
							<th scope="col">OTHER CONTACTS</th>
							<th scope="col">PRESIDENT</th>
							<th scope="col">PRESIDENT PHONE</th>
							<th scope="col">PRESIDENT ADDRESS </th>
							<th scope="col">VICE PRESIDENT</th>
							<th scope="col">VICE PRESIDENT Phone</th>
							<th scope="col">VICE PRESIDENT Address </th>
							<th scope="col">SECRETARY </th>
							<th scope="col">SECRETARY Phone  </th>
							<th scope="col">SECRETARY Address</th>
							<th scope="col">TREASURER</th>
							<th scope="col">TREASURER Phone</th>
							<th scope="col">TREASURER Address</th>
							<th scope="col">Notes</th>
							<th scope="col">MERV Trailer</th>
							<th scope="col">Other Trailer 1</th>
							<th scope="col">Trailer Rego 1 </th>
							<th scope="col">Trailer Description 1 </th>
							<th scope="col">Motor Vehicle 1</th>
							<th scope="col">MV Rego 1 </th>
							<th scope="col">MV Description 1 </th>
							<th scope="col">Other Trailer 2</th>
							<th scope="col">Trailer Rego 2</th>
							<th scope="col">Trailer Description 2</th>
							<th scope="col">Motor Vehicle 2</th>
							<th scope="col">MV Rego 2</th>
							<th scope="col">MV Description 2</th>
							<th scope="col">Date of Association</th>
							<th scope="col">2011 Audit Received</th>
							<th scope="col">2012 Audit Received</th>


						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<%- include('footer'); -%>
