<%- include('header'); -%>
<div class="menu bg-light fixed-top">
	<div class="container-fluid">
		<div class="row py-2 align-items-end">
			<div class="col-6">
				<a href="/" class="btn btn-secondary">Back</a>
			</div>
			<div class="col-6">
				<div class="d-flex justify-content-end">
					<a href="/create3" class="btn btn-primary">Create</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content" style="margin-top: 80px">
	<div class="container-fluid">
		<div class="row my-4">
			<div class="col-12">
				<table class="table table-bordered" id="table3">
					<thead>
						<tr>
                            <th scope="col">Action</th>
							<th scope="col">#</th>
							<th scope="col">BRANCH</th>
							<th scope="col">MEMBERSHIP</th>
							<th scope="col">REGION</th>
							<th scope="col">MAIL_CONTACT</th>
							<th scope="col">ADDRESS_LINE_1_STATION/BRANCH</th>
							<th scope="col">ADDRESS_LINE_2_PO_BOXSTREET</th>
							<th scope="col">ADDRESS_LINE_3_SUBURB_TOWN</th>
							<th scope="col">COORDINATOR</th>
							<th scope="col">PHONE</th>
							<th scope="col">FAX</th>
							<th scope="col">EMAIL</th>
							<th scope="col">HOME</th>
							<th scope="col">MOBILE</th>
							<th scope="col">OTHER_CONTACTS</th>
							<th scope="col">PRESIDENT</th>
							<th scope="col">PRES_PHONE</th>
							<th scope="col">PRES_ADDRESS </th>
							<th scope="col">VICE_PRESIDENT</th>
							<th scope="col">V/P_Phone</th>
							<th scope="col">V/P_Address </th>
							<th scope="col">SECRETARY </th>
							<th scope="col">Sec_Phone  </th>
							<th scope="col">Sec_Address</th>
							<th scope="col">TREASURER</th>
							<th scope="col">Tres_Phone</th>
							<th scope="col">Tres_Address</th>
							<th scope="col">Text72</th>
							<th scope="col">Check75</th>
							<th scope="col">Check79</th>
							<th scope="col">Text81 </th>
							<th scope="col">Text83 </th>
							<th scope="col">Check85</th>
							<th scope="col">Text87 </th>
							<th scope="col">Text89 </th>
							<th scope="col">Text91</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<%- include('footer'); -%>
