<%- include('header'); -%>
<div class="menu bg-light fixed-top">
	<div class="container-fluid">
		<div class="row py-2 align-items-end">
			<div class="col-6">
				<a href="/table5" class="btn btn-secondary">Back</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" style="margin-top: 80px">
	<div class="row">
		<div class="col-12">
			<form class="border border-light p-5" method="post" action="/create5">
				<div class="form-row">
                        <div class="form-group col-md-6">
                            <label>QPS AGM Invites</label>
                            <div id="qps_fields">
                                <input type="text" class="form-control" placeholder="Title" name="title">
                                <input type="text" class="form-control" placeholder="Given Names" name="given_names">
                                <input type="text" class="form-control" placeholder="Surname" name="surname">
                                <input type="text" class="form-control" placeholder="Region" name="region">
                                <input type="text" class="form-control" placeholder="Address 1" name="address_1">
                                <input type="text" class="form-control" placeholder="Address 2" name="address_2">
                                <input type="text" class="form-control" placeholder="State" name="state">
                                <input type="text" class="form-control" placeholder="Postcode" name="postcode">
                            </div>
                        </div>
                    </div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
<%- include('footer'); -%>
