<%- include('header'); -%>
<div class="menu bg-light fixed-top">
	<div class="container-fluid">
		<div class="row py-2 align-items-end">
			<div class="col-4">
				<a href="/table1" class="btn btn-secondary">Back</a>
			</div>
			<button class ="abc">Copy</button>

		</div>
	</div>
</div>

<div class="content" style="margin-top: 80px">
	<div class="container-fluid">
		<div class="row my-4">
			<div class="col-12">
				<table class="table table-bordered" id="expires1">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Blue Light Branch</th>
							<th scope="col">Surname</th>
							<th scope="col">First Names</th>
							<th scope="col">Address Line 1</th>
							<th scope="col">Address Line 2</th>
							<th scope="col">Phone Home</th>
							<th scope="col">Phone Work</th>
							<th scope="col">Phone Mobile</th>
							<th scope="col">Email</th>
							<th scope="col">DOB</th>
							<th scope="col">Drivers Licence</th>
							<th scope="col">Class</th>
							<th scope="col">Expiry_Date</th>
							<th scope="col">Current Position</th>
							<th scope="col">Organisation</th>
							<th scope="col">Main Responsibilities</th>
							<th scope="col">Referee 1</th>
							<th scope="col">Ref1 Relationship</th>
							<th scope="col">Ref1 Phone</th>
							<th scope="col">Referee 2</th>
							<th scope="col">Ref2 Relationship</th>
							<th scope="col">Ref2 Phone</th>
							<th scope="col">Pre-existing Medical Cond</th>
							<th scope="col">If Yes, Details</th>
							<th scope="col">Blue Card .</th>
							<th scope="col">Issue_Date</th>
							<th scope="col">Issed by BL</th>
							<th scope="col">If No, Verified</th>
							<th scope="col">B_C_Expiry_Date</th>
							<th scope="col">Emergency Contact 1</th>
							<th scope="col">EC1 Relationship</th>
							<th scope="col">EC1 Phone</th>
							<th scope="col">EC1 Phone Wk</th>
							<th scope="col">EC1 Mobile</th>
							<th scope="col">Emergency Contact 2</th>
							<th scope="col">EC2 Relationship</th>
							<th scope="col">EC2 Phone</th>
							<th scope="col">EC2 Phone Wk</th>
							<th scope="col">EC2 Mobile</th>
							<th scope="col">POI Documents sighted</th>
							<th scope="col">Latest Award</th>
							<th scope="col">Year Received</th>
							<th scope="col">File Notes</th>
							<th scope="col">Redundant</th>
							<th scope="col">ON BC LIST</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<%- include('footer'); -%>
