<%- include('header'); -%>
<div class="menu bg-light fixed-top">
	<div class="container-fluid">
		<div class="row py-2 align-items-end">
			<div class="col-6">
				<a href="/" class="btn btn-secondary">Back</a>
			</div>
			<div class="col-6">
				<div class="d-flex justify-content-end">
					<a href="/create2" class="btn btn-primary">Create</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content" style="margin-top: 80px">
	<div class="container-fluid">
		<div class="row my-4">
			<div class="col-12">
				<table class="table table-bordered" id="table2">
					<thead>
						<tr>
							<th scope="col">Action</th>
							<th scope="col">#</th>
							<th scope="col">BRANCH</th>
							<th scope="col">MEMBERSHIP</th>
							<th scope="col">REGION</th>
							<th scope="col">MAIL_CONTACT</th>
							<th scope="col">ADDRESS_LINE_1_STATION_BRANCH</th>
							<th scope="col">ADDRESS_LINE_2_PO_BOXS_TREET</th>
							<th scope="col">ADDRESS_LINE_3_SUBURB_TOWN</th>
							<th scope="col">COORDINATOR</th>
							<th scope="col">PHONE</th>
							<th scope="col">FAX</th>
							<th scope="col">EMAIL</th>
							<th scope="col">HOME</th>
							<th scope="col">MOBILE</th>
							<th scope="col">OTHER_CONTACTS</th>
							<th scope="col">PRESIDENT</th>
							<th scope="col">PRESIDENT_PHONE</th>
							<th scope="col">PRESIDENT_ADDRESS </th>
							<th scope="col">VICE_PRESIDENT</th>
							<th scope="col">VICE_PRESIDENT_Phone</th>
							<th scope="col">VICE_PRESIDENT_Address </th>
							<th scope="col">SECRETARY </th>
							<th scope="col">SECRETARY_Phone  </th>
							<th scope="col">SECRETARY_Address</th>
							<th scope="col">TREASURER</th>
							<th scope="col">TREASURER_Phone</th>
							<th scope="col">TREASURER_Address</th>
							<th scope="col">INSURANCE LEVY PAID</th>
							<th scope="col">ar_7</th>
							<th scope="col">ar_8</th>
							<th scope="col">ar_9 </th>
							<th scope="col">ar_10 </th>
							<th scope="col">ar_11</th>
							<th scope="col">ar_12 </th>
							<th scope="col">Balance </th>
							<th scope="col">Affiliate Since</th>
							<th scope="col">Notes</th>
							<th scope="col">MERV Trailer  </th>
							<th scope="col">Other Trailer</th>
							<th scope="col">REGO_TRAILER </th>
							<th scope="col">DESC_TRAILER</th>
							<th scope="col">VEHICLE </th>
							<th scope="col">REGO_VEHICLE</th>
							<th scope="col">DESC_VEHICLE</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<%- include('footer'); -%>
